<% provide(:title, @title) %>
<div class="main">
  <div class="ornate-title">
  	<h2><%= link_to "COLLECTIONS:", user_collections_path(@user) %></h2>
    <h1><%= @collection.name.camelize %></h1>
    <div class="pull-right"><a>Created By: </a><h3><%= @user.name %></h3></div>
  </div>
  <div class="spacer-small"></div>


<div class="galleria">
<% @collection.pieces.each do |piece| %>
  <% piece.images.each do |galleryimage| %>
    <%= image_tag(galleryimage.image_url.to_s) %>
  <% end %>
<% end %>
</div>

<%= render 'shared/gallery' %>

<div class="spacer-medium"></div>
<p><%= render 'pieces' %></p>

</div>