<div id="catalogue_form">
  <% unless @portfolio.catalogued?(collection) %>
    not in the current portfolio
    <% if current_user?(@user) %>
      <%= form_for(@portfolio.categorisations.build(collection_id: collection.id), remote: true) do |f| %>
        <div><%= f.hidden_field :collection_id %></div>
        <div><%= f.hidden_field :portfolio_id, value: @portfolio.id %></div>
        <%= f.submit "Add", class: "button" %>
      <% end %>
    <% end %>
  <% else %>
  in the current portfolio
    <% if current_user?(@user) %>



      <%= form_for(@portfolio.categorisations.find_by_collection_id(collection),
                 html: { method: :delete },
                 remote: true) do |f| %>
        <div><%= f.hidden_field :portfolio_id, value: @portfolio.id %></div>
        <%= f.submit "Remove", class: "button" %>
      <% end %>



    <% end %>
  <% end %>
</div>