<% provide(:title, @user.name) %>
<div class="spacer-medium"></div>
<div class="span2 depth2 pull-left pad-full-medium wrapper">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <p>
        <ul>
          <li><%= @current_user %></li>
          <li><%= link_to "Create new Portfolio", new_user_portfolio_path(@user)%></li>
          <li><%= link_to "Create new collection", new_user_collection_path(@user) %></li>
          <li><%= link_to "Create new piece", "#" %></li>
        </ul>
      </p>
    </section>
  </aside>
</div>

<div class="span2 depth2 pull-right pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">TAKE A LOOK AT <%= @user.username.upcase %>'S COLLECTIONS!</h3>
  <p><% @collections.each do |collection| %>
    <tr>
      <td><%= collection.name %></td><br/>
    </tr>
  <% end %></p>
</div> 

<div class="clear"></div> 

<div class="spacer-small"></div>

<div class="span2 depth2 pull-right pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">TAKE A LOOK AT <%= @user.username.upcase %>'S PORTFOLIOS!</h3>
  <a href="<%= user_portfolios_path(@user) %>">Portfolios Here.</a>
  <p><% @portfolios.each do |portfolio| %>
    <tr>
      <td><%= portfolio.name %></td><br/>
    </tr>
  <% end %></p>
</div> 

<div class="span2 depth2 pull-left pad-full-medium wrapper">
  <div class="span8">
      <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Activity (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
