<% provide(:title, @user.name) %>
<div class="spacer-small"></div>
<div class="main">

  <div class="ornate-title">
    <h2>USER:</h2>
    <h1><%= @user.name.camelize %></h1>
    <div class="pull-right"><a>Member Since: </a><h3><%= @user.created_at.strftime("%B %d, %Y") %></h3></div>
  </div>

  <section class="thumbnail">
    <% unless @pieces.first.nil? %>
      <h3 class="bold-title">THE LATEST PIECES FROM <%= @user.username.upcase %> </h3>
      <p>
        <ol>
          <% @pieces.first(3).each do |piece| %> 
            <li><div class="box">
              <% unless piece.images.first.nil? %>
                <%= link_to image_tag(piece.images.first.image_url(:thumb).to_s, size: "200x150"), user_piece_path({user_id: @user.permalink, id: piece.id}) %><br/>
                <span class="caption scale-caption">  
                  <h3>Free Style Caption</h3>  
                  <p>
                    Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </p> 
                </span>
              <% else %>
                <%= link_to image_tag("home/ImageUnavailable.png", size: "200x150"), user_piece_path({user_id: @user.permalink, id: piece.id}) %><br/>
              <% end %>
              </div>
              <section><p><%= piece.name %></p></section>
              <p>Posted <%= time_ago_in_words(piece.created_at) %> ago</p>
            </li>
          <% end %>
        </ol><br/>
      </p><br/><div class="clear"></div> <br/>
      <p class="clear">
        <% unless @pieces.count < 4 %>
          <%= link_to "View More Pieces From #{@user.username.upcase} >>", user_pieces_path(@user) %><br/>
        <% end %>
      </p>
    <% end %>
  </section>

  <section class="thumbnail">
    <h3 class="bold-title">TAKE A LOOK AT <%= @user.username.upcase %>'S LATEST COLLECTIONS!</h3>
    <p>
      <ol>
        <% @collections.first(3).each do |collection| %>
          <% collection.pieces.first(1).each do |piece| %>
            <% unless piece.images.first.nil? %>
              <li><%= link_to image_tag(piece.images[rand(piece.images.length)].image_url(:thumb).to_s), user_collection_path({user_id: @user.permalink, id: collection.id}) %>
                <section><p><%= collection.name %></p></section>
                <p>Posted <%= time_ago_in_words(collection.created_at) %> ago</p>
              </li>
            <% end %>            
          <% end %> 
        <% end %>
      </ol><br/>
    </p><br/><div class="clear"></div><br/>
    <p class="clear">
      <% unless @collections.count < 4 %><%= link_to "View More Collections From #{@user.username.upcase} >>", user_collections_path(@user) %><br/>
      <% end %>
    </p>
  </section>  

  <section class="thumbnail">
    <h3 class="bold-title">TAKE A LOOK AT <%= @user.username.upcase %>'S LATEST PORTFOLIOS!</h3>
    <p>
      <ol>
        <% @portfolios.first(3).each do |portfolio| %>
          <% portfolio.collections.first(1).each do |collection| %>
            <% collection.pieces.first(1).each do |piece| %>
              <% unless piece.images.first.nil? %>
                <li><%= link_to image_tag(piece.images[rand(piece.images.length)].image_url(:thumb).to_s), user_portfolio_path({user_id: @user.permalink, id: portfolio.id}) %>
                  <section><p><%= portfolio.name %></p></section>
                  <p>Posted <%= time_ago_in_words(portfolio.created_at) %> ago</p>
                </li>
              <% end %>  
            <% end %> 
          <% end %>
        <% end %>
      </ol><br/>
    <p class="clear">
      <% unless @portfolios.count < 4%><%= link_to "View More Portfolios From #{@user.username.upcase} >>", user_portfolios_path(@user) %><br/>
      <% end %>
    </p>
  <div class="spacer-small"></div>

  </section>    

  
  <div class="spacer-small"></div>

  <section class="activity">
    <% if @user.microposts.any? %>
      <h3>Activity (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render 'shared/feed' %>
      </ol>
    <% end %>
  </section>  
</div>




<aside class="power-column">
  <section class="user">
    <%= gravatar_for @user %>
    <h3><%= link_to @user.name, user_path(@user) %></h3>
    <%= render 'shared/stats' %>
  </section>
  <%= render 'users/follow_form' if signed_in? %>
  <% if current_user?(@user) %>
  <section>
    <ul>
      <li><%= link_to "Create new Portfolio", new_user_portfolio_path(@user)%></li>
      <li><%= link_to "Create new collection", new_user_collection_path(@user) %></li>
      <li><%= link_to "Create new piece", new_user_piece_path(@user) %></li>
    </ul>
  </section>
  <% end %>
  <section>
    <p>Hello world this is a sentence designed to prove the wrapping of text in the small hero bar at the right hand side of the page. Let's see how it performs.</p>
  </section>
  <% if current_user?(@user) %>
    <section class="activity-form">
      <%= render 'shared/micropost_form' %>
    </section>
  <% end %>
  <section>
    <ul><%= render @microposts %></ul>
  </section>
</aside>
