<% provide(:title, @title) %>
<div class="spacer-small"></div>
<div class="main">
  <div class="ornate-title">
  	<h2><%= link_to "PIECES:", user_pieces_path(@user) %></h2>
    <h1><%= @piece.name.camelize %></h1>
    <div class="pull-right"><a>Created By: </a><h3><%= @user.name %></h3></div>
  </div>
  <div class="spacer-small"></div>
  <div class="clear"></div>


<div class="galleria">
  <% @piece.images.each do |galleryitem| %>
    <%= image_tag(galleryitem.image_url.to_s) %>
  <% end %>
</div>
<%= render 'shared/gallery' %>
<div class="spacer-small"></div>





<div class="piece-stats">
  <div class="diagonal-line-1">
    <svg>  
      <line x1="0" y1="150" x2="70" y2="0" stroke-width="1" stroke="rgb(199,199,199)"/>  
    </svg> 
    <%= render 'upvotes' %> 
  </div>
  <div class="diagonal-line-2">
    <svg>  
      <line x1="0" y1="150" x2="70" y2="0" stroke-width="1" stroke="rgb(199,199,199)"/> 
    </svg>
    <div class="piece-stats-item">
      <div class="piece-stats-item-icon">
        <%= link_to image_tag("icons/shopping_cart.png", alt: "Upvote"), signin_path %>
      </div> 
      <div class="piece-stats-item-text">
        <h3>Necessiti vel corporis nisi aut incidunt</h3>
      </div>
    </div> 
  </div>
  <div class="diagonal-line-3">
    <svg>  
      <line x1="0" y1="150" x2="70" y2="0" stroke-width="1" stroke="rgb(199,199,199)"/>
    </svg> 
    <div class="piece-stats-item">
      <div class="piece-stats-item-icon">
        <%= link_to image_tag("icons/comments.png", alt: "Upvote"), signin_path %>
      </div> 
      <div class="piece-stats-item-text">
        <h3>Necessiti vel corporis nisi aut incidunt</h3>
      </div>
    </div> 
  </div>
</div>

</div>










<aside class="power-column">
  <section class="user">
    <%= gravatar_for @user %>
    <h3><%= link_to @user.name, user_path(@user) %></h3>
    <%= render 'shared/stats' %>
  </section>
  <%= render 'users/follow_form' if signed_in? %>
  <% if current_user?(@user) %>
  <section>
    <ul>
      <li><%= link_to "Create new Portfolio", new_user_portfolio_path(@user)%></li>
      <li><%= link_to "Create new collection", new_user_collection_path(@user) %></li>
      <li><%= link_to "Create new piece", new_user_piece_path(@user) %></li>
      <li><%= link_to "Edit this piece", edit_user_piece_path(@user) %></li>
    </ul>
  </section>
  <% end %>
  <section>
    <p>This will need to be replaced with the user defined description of the current piece. It should also have a but stating that the user can edit the description which will convert this text box to an editable form.</p>
  </section>
</aside>

