<% provide(:title, "Add a New Image") %>
<div class="spacer-medium"></div>
<div class="span1 depth2 pull-left pad-full-medium wrapper">
  <h3 class="pad-top-bottom-small">IMAGE UPLOADER</h3>
  <p class="pad-top-bottom-small">
      Upload a new image.
  </p><br/>

<%= form_for @image, html: { multipart: true } do |f| %>
    <%= f.hidden_field :piece_id %>
    <%= f.label :image_name, "Image Name:", class: "form-label-inline" %>
    <%= f.text_field :image_name, class: "form-input" %>
    <%= f.file_field :image %><br/>
    <%= f.label :remote_image_url, "Or Image URL", class: "form-label-inline" %>
    <%= f.text_field :remote_image_url, class: "form-input" %>
    <%= f.submit "Add", class: "button" %>
<% end %>
</div>


