<header class="fixed-header">
    <div class="container">
      <nav>
        <ul class="pull-left">
          <li><%= link_to image_tag("icons/home_icon.png", alt: "Rails"), root_path%></li>
          <li><%= link_to "Portfolio", "#" %></li>
          <li><%= link_to "Shop", "#" %></li>
        </ul
      </nav>  
      <nav>
        <ul class="pull-right">
          <% if signed_in? %>
            <li>
              <ul id="dropdown" class="pull-right"z>
                <li>My Account
                  <ul class="pull-left">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                  </ul>
                </li>
              </ul>  
            </li>
          <% else %>
            <li><%= link_to "My Account", signin_path %></li>
          <% end %>
          <li>Search</li>
        </ul>
      </nav>
    </div>
</header>


