<div class="navigation">
  <div class="container">
    <%=link_to image_tag("LogoLarge.png", alt: "Logo", height: "80", width: "440"), root_path%>
    <p>
      <nav>
        <ul>
          <li><%= link_to "Whats New", whatsnew_path %></li>
          <li><%= link_to "Leaderboards", leaderboard_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Discover", "#" %></li>      	  
      	  <li><%= link_to "Post a Job", "#" %></li>
      	  <li><%= link_to "Blog", "#" %></li>
      	  <li><%= link_to "How It Works", about_path %></li>
      	  <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </p>
  </div>
</div>
