<div class="navigation">
  <div class="container">
    <%=link_to image_tag("sarleks.png", alt: "Logo"), root_path%>
    <p>
      <nav>
        <ul>
      	  <li><%= link_to "women", "#" %></li>
      	  <li><%= link_to "Men", "#" %></li>
      	  <li><%= link_to "Whats New", "#" %></li>
      	  <li><%= link_to "Leaderboards", "#" %></li>
      	  <li><%= link_to "Discover", "#" %></li>
      	  <li><%= link_to "Lookbook", "#" %></li>
      	  <li><%= link_to "Blog", "#" %></li>
      	  <li><%= link_to "About", about_path %></li>
      	  <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </p>
  </div>
</div>